@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  background-color: #000000;
}

.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  border-bottom: 1px solid #33a8db80;
}

.banner .banner-content {
  margin: auto;
  width: 720px;
  text-align: center;
  color: white;
}

.banner .logo {
  background-color: rgba(0, 0, 0, 0.2);
  height: 260px;
  width: 260px;
  margin: auto;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.banner .banner-content button {
  color: #31a8dd;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;
  border-radius: 30px;
  padding: 16px 32px;
}
